/*
WWN Screen CSS
Version 1.0
Last Edited: 10/22/2010 DH
*/

/*---- COLOR PALLET ----

		#004a80; | Dark Blue
		#00aeef; | Light Blue
		#c2c2c2; | Light Grey 
		#fff;    | White
		#000;    | Black
		#636363; | Dark Grey
		
----------------------*/
/* ---- GLOBAL ---- */ 
	body{
		line-height: 1.2;
		font-family: Georgia, Palatino, "Times New Roman", sans-serif;
		margin: 0 auto;
		background: #f3f3f4;
	}
	
	#wrapper{
		width: 960px;
		margin: 0 auto;
		background-color: #fff;
	}
	h1{
		font-family: "Segoe UI", "Lucida Console", sans-serif;
		margin: 0 auto;
		padding: 0;
	}
	
	h2{
		font-family: "Segoe UI", "Lucida Console", sans-serif;
	}
	
	h3{
		font-family: "Segoe UI", "Lucida Console", sans-serif;		
	}
	
	h4{
		font-family: "Segoe UI", "Lucida Console", sans-serif;
	}
	
	h5{
		font-family: "Segoe UI", "Lucida Console", sans-serif;
	}
	
	h6{
		font-family: "Segoe UI", "Lucida Console", sans-serif;
	}
	
	/*---- NAV Links Styles ----*/ 
	a:link{
		color: #004a80;
	}
		
	a:visited{
		color: #c2c2c2;
	}
	
	a:hover{
		color: #00aeef;
	}
		
	a:active{
		color: #636363;
	}
	
/* ---- HEADER -- Width: 960px Height: 200px ----*/
	#header{
		width: 960px;
		height: 200px;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/header_bg.jpg);
		background-repeat: no-repeat;	
		background-color: #00aeef;
		border-bottom: 3px solid #c2c2c2;
	}
	
		/*---- Links Styles ----*/ 
	#header a:link{
		text-decoration: none;
		color: #fff;
	}
		
	#header a:visited{
		text-decoration: none;
	}
		
	#header a:active{
		text-decoration: none;	
	}
	
	/*---- Logo -- Width 300px Height 200px ----*/	
	#logo{
		float:left;
		width: 277px;
		height: 150px;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/logo.jpg);
		background-repeat: no-repeat;
		background-color: #004a80;
		color: #fff;
		margin: 0 auto;
		padding: 50px 10px 0 10px;
		border-right: 3px solid #c2c2c2;
		text-indent: -9999px;
		display: block;
	}	
	
	#logo a{
		color: #fff;
		text-decoration: none;
	}
	
	#logo h1{
		margin: 0 auto;
	}
	
	/*---- Header Content -- Width: 660px Height: 200px ----*/
	#header_content{
		float: left;
		width: 660px;
		height: 200px; 
	}

	/*---- Breadcrumbs -- Width: 330px Height: 150px ----*/	
	#breadcrumbs{
		float:left;
		width: 320px;
		font-size: 8pt;
		height: 140px;
		margin: 0 auto;
		padding: 10px 0 0 10px;
		list-style-type: none;
	}
	
	#breadcrumbs li{
		float: left;
	}
	
	#breadcrumbs a:link{
		color: #004a80;
		text-decoration: underline;
	}
	
	#breadcrumbs a:visited{
		color: #004a80;
		text-decoration: underline;
	}
	/* ---- Search/RSS --- width: 330px Height: 150px ---- */
	#search_rss{
		float: right;
		width: 290px;		
		height: 150px;
		margin: 0 auto;
	}
	
	#go_button{
		padding: 0 0 0 5px;
	}

	
	#search ul{
		list-style-type: none;
	}
	
	#search li{
		float: left;
	}
	
	#rss{
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/rss.png);
		float: right;
		padding: 0 40px 0 0;
		margin: 0 auto;
		background-repeat: no-repeat;
	}
	#rss img{
		border: 0;

	}
	
/* ---- GLOBAL NAV -- Width: 620px Height: 50px---- */

	/* ---- #home_active_nav ----*/ 
	#home_active_nav{
		float:right;
		width: 660px;
		background-color: #636363;
		margin: 0 auto;
		font-size: 16pt;
		font-weight: bold;
		border-top: 1px solid #c2c2c2;
		padding: 0;
	}
	
	#home_active_nav li{
		float: left;
		list-style-type: none;
		width: 163px;
		border-right: 2px solid #c2c2c2;
		text-indent: -9999px;
	}
	
	#home_active_nav li a{	
		display: block;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/home_nav_sprite.png);
		background-repeat: no-repeat;
		height: 49px;		
	}
	
	/* ---- WORLD Active Nav ---- */
	#world_active_nav{
		float:right;
		width: 660px;
		background-color: #636363;
		margin: 0 auto;
		font-size: 16pt;
		font-weight: bold;
		border-top: 1px solid #c2c2c2;
		padding: 0;
	}
	
	#world_active_nav li{
		float: left;
		list-style-type: none;
		width: 163px;
		height: 49px;
		border-right: 2px solid #c2c2c2;
		text-indent: -9999px;
	}
	
	#world_active_nav li a{	
		display: block;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/world_nav_sprite.png);
		background-repeat: no-repeat;
		height: 49px;		
	}
	
	/* ---- TECH Active Nav ---- */
	#tech_active_nav{
		float:right;
		width: 660px;
		background-color: #636363;
		margin: 0 auto;
		font-size: 16pt;
		font-weight: bold;
		border-top: 1px solid #c2c2c2;
		padding: 0;
	}
	
	#tech_active_nav li{
		float: left;
		list-style-type: none;
		width: 163px;
		height: 49px;
		border-right: 2px solid #c2c2c2;
		text-indent: -9999px;
	}
	
	#tech_active_nav li a{	
		display: block;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/tech_nav_sprite.png);
		background-repeat: no-repeat;
		height: 49px;		
	}	
	
	/* ---- BUSINESS Active Nav ---- */
	#business_active_nav{
		float:right;
		width: 660px;
		background-color: #636363;
		margin: 0 auto;
		font-size: 16pt;
		font-weight: bold;
		border-top: 1px solid #c2c2c2;
		padding: 0;
	}
	
	#business_active_nav li{
		float: left;
		list-style-type: none;
		width: 163px;
		height: 49px;
		border-right: 2px solid #c2c2c2;
		text-indent: -9999px;
	}
	
	#business_active_nav li a{	
		display: block;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/business_nav_sprite.png);
		background-repeat: no-repeat;
		height: 49px;		
	}	
	
	/* ---- NAV Sprite ---- */
	#nav_home a{
		background-position: 0 0;
	}
		
	#nav_home a:hover{
		background-position: 0px -50px;
	}
		
	#nav_world a{
		background-position: -165px 0px;
	}
		
	#nav_world a:hover{
		background-position: -165px -50px;
	}
		
	#nav_tech a{
		background-position: -330px 0px;
	}
		
	#nav_tech a:hover{
		background-position: -330px -50px;
	}
	
	#nav_business a{
		background-position: -495px 0px;
	}
		
	#nav_business a:hover{
		background-position: -495px -50px;
	}
	
	/*---- Active Page Link ----*/		
	#active_link a:link{
		color: #959595;
		text-decoration: none;		
	}	
	
	#active_link a:visited{
		color: #959595;
		text-decoration: none;		
	}
/*---- END OF GLOBAL NAV ----*/	
	
/* ---- Content ---- */	
	#content{
		clear: both;
	}
	
/* ---- FOOTER ---- */	
	#footer{
		clear: both;
		width: 910px;
		margin: 0 auto;
		height: 97px;
		padding: 10px 25px 25px 25px;
		border-top:	3px solid #c2c2c2;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/footer_bg.jpg);		
	}
	
	/* ---- NEWSLETTER ---- */	
	#newsletter{
		float: left;
		width: 350px;
		float: left;
	}
	
	#newsletter h5{
		padding: 20px 0 0 0;
		margin: 0 auto;
	}
	#newsletter ul{
		list-style-type: none;
		padding: 10px 0 0 0;
		margin: 0 auto;
	}	
	
	#newsletter li{
		padding: 5px 0 0 0;
	}
	
	#newsletter #signup{
		float: left;
		padding-right: 50px;
	}
	
	/* ---- COPYRIGHT/CONTACT/HELP ---- */
	#copyright{
		margin: 35px 0 0 0;
		width: 350px;
		padding: 15px 0 0 0;
		float: left;		
	}
	#contact_help{
		font-size: 10pt;
		float: right;
	}
	
/* ---- HOMEPAGE ---- */	
	#home_features{
		float: left;
		width: 470px;
		margin: 25px 10px;
		padding: 10px 0;
	}
	
	#home_categories{
		float: left;
		width: 440px;
		padding: 10px 0;
		margin: 25px 0 25px 10px;
	}	
	
	#home_categories h3{
		padding: 5px 0;
		margin: 0 auto;		
	}
	
	#home_categories li h4{
		padding: 0;
		margin: 0 auto;		
	}
	
	#home_categories li span{
		padding: 0 0 5px 0;
		margin: 0 auto;
		display: block;
	}
	
	#home_categories h3 a{
		text-decoration: none;
	}
	
	#home_categories h3 a:visited{
		color: #004a80;
		text-decoration: none;
	}
	
	#topstory{
		border: 3px solid #c6c6c6;
		padding: 10px; 
		margin-top: 10px;
	}
	
	#topstory img{
		margin: 5px;
		border: 1px solid #000;
	}
	
	#healthtip{
		border: 3px solid #c6c6c6;
		padding: 10px;
		margin-top: 10px;	
		float: left;	
		width: 445px;
	}
	
	#healthtip h3{
		margin: 0 auto;
	}

	#healthtip h4{
		margin: 0 auto;
		padding: 5px 0;
	}	
	
	#healthtip span{
		float: left;
		width:250px;
		margin: 0 auto;		
	}
	
	#home_world_mod{
		border: 3px solid #c6c6c6;
		padding:0 10px;
		margin-top: 10px;	
	}
	
	#home_tech_mod{
		border: 3px solid #c6c6c6;
		padding: 10px;	
		margin-top: 10px;
	}
	
	#home_business_mod{
		border: 3px solid #c6c6c6;
		padding: 10px;	
		margin-top: 10px;		
	}
	
	#daily_diet_img{
		float: right;
		padding: 5px;
		width: 178px;
		border: 1px solid #000;
	}
	
/* ---- CATEGORIES ---- */	
	#sidebar_links{
		float: left;
		width: 257px;
		padding: 10px 10px 10px 20px;
		margin: 25px 10px 25px 0;
		font-size:10pt;
		border-top: 3px solid #c2c2c2;
		border-right: 3px solid #c2c2c2;
		border-bottom: 3px solid #c2c2c2;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/sidebar_bg.jpg);
		background-repeat: no-repeat;
	}
	
	#sidebar_links dt{
		padding-top: 10px;
		font-weight: bold;
	}
	#sidebar_links dd, #sidebar_links h4, #sidebar_links h5{
	padding: 2px 0;
	margin: 0;
	}
	
	#sidebar_links h4{
		font-size: 18pt;
	}
	
	#sidebar_links h5{
		font-size: 10pt;
	}
	
	#sidebar_links dd{
		font-size: 8pt;
	}

	/* ---- Top stories ----*/
	#top_stories{
		float: left;
		width: 634px;
		margin:25px 0 25px 0;
		padding: 0 10px;
	}
	
	#top_stories h2{
		font-size: 48pt;
		margin: 0 auto;
		text-align: center;
		padding: 5px;
	}
	
	.top_story_sections{
		border: 3px solid #c2c2c2;
		margin: 10px 0 0 0;
	}
	
	#top_stories h4{
		padding: 5px 10px;
		margin: 0 auto;
	}
			
	#top_stories span{
		padding: 5px 25px;
		margin: 0 auto;
		display: block;
	}	
/* ---- ARTICLES ----*/
	
	/* ---- Sidebar ---- */
	#artsidebar_links{
		float: left;
		width: 327px;
		padding: 10px 10px 10px 20px;
		margin: 25px 10px 25px 0;
		font-size:10pt;
		border-top: 3px solid #c2c2c2;
		border-right: 3px solid #c2c2c2;
		border-bottom: 3px solid #c2c2c2;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/artsidebar_bg.jpg);
		background-repeat: no-repeat;
	}
		
	#artsidebar_links dt{
		padding-top: 10px;
		font-weight: bold;
	}
	#artsidebar_links dd, #artsidebar_links h4, #artsidebar_links h5{
	padding: 2px 0;
	margin: 0;
	}
	
	#artsidebar_links h4{
		font-size: 18pt;
	}
		
	/* ---- Story ---- */
	#article{
		margin: 25px 10px 25px 0;
		padding: 20px;
		float: left;
		width: 524px;
		border: 3px solid #c2c2c2;
	}
	
	#article_image{
		float:right;
		margin: 10px;
		border: 1px solid #000;
	}

/* ---- Article Comment Field ---- */
	#comment{
		border-top: 1px solid #636363;
		border-bottom: 1px solid #636363;
		width: 400px;
		margin: 20px;
		padding: 10px 10px;
		background-image: url(https://s3.amazonaws.com/DKdesigns_images/wwn/comment_bg.jpg);
		background-repeat: no-repeat;		
	}	
	
	#comment h4{ 
		padding: 0;
		margin: 0 auto;
	}
	
	#comment ul{
		list-style-type: none;	
	}
	
	#comment li{
		padding: 5px 0;
	}
	
	#comment li input {
		border: 1px solid #000;
	}
	
	#comment textarea{
		border: 1px solid #000;
	}
	
	#comment #share{
		border: none;
		float: right;
		padding: 0 60px 10px 0; 
	}